# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# FastAPI & Gradio uploads/logs
/uploads/
/logs/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Dependencies
*.egg-info/

# Pip & poetry environment files
Pipfile
Pipfile.lock
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
*.log
*.sqlite3
/Jupyternotebooks/.env
